  /* style générique toujours en haut du fichier*/
  * {
      /*Permet d'adapter les div contenantes (float en particulier) au contenu en débordement */
      overflow: auto;

  }

  body {
      background-color: #8ba1bb;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
  }

  p.categorie {
      background-color: black;
      color: white;
      display: inline-block;
      padding: 8px 18px;
      margin-top: -15px;
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 16px
  }


  div.categorie {
      margin-bottom: 0;
      margin-top: 0;
      overflow: visible;
  }

  div.contenu {
      background-color: white;
      margin: 60px 10% 80px;
      padding: 0 30px 30px;
      min-width: 350px;
      box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
      overflow: visible;
  }

  h1 {
      text-align: center;
      margin-bottom: 12px;
      margin-top: 10px;
  }

  p.description {
      text-align: center;
      max-width: 400px;
      display: inline-block;
      font-size: 14px;
  }

  .centre {
      text-align: center;
      width: 100%;
  }


  div.separator {
      background-color: black;
      height: 1px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
  }

  div.info {
      position: relative;
      background-color: blue;
  }

  table.info {
      position: absolute;
      bottom: 0;
      width: 100%;

      color: white;
      background-color: #6c829dC0;
      height: 80px;
  }

  table.info td {
      text-align: center;
      font-size: 14px;
      vertical-align: top;
  }

  table.info th {
      font-size: 16px;
      vertical-align: bottom;
      padding-bottom: 8px;
  }

  img.info {
      display: block;
      max-height: 400px;
      object-fit: cover;
      min-height: 200px;
      background-color: lightgray;
  }

  div.colonne {
      width: 45%;
      margin-top: 20px;
  }

  div.colonne h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      border-bottom: 5px solid #6c829d;
      padding-bottom: 5px;
  }

  div.colonne1 {
      /* background-color: lightblue; */
      display: inline-block;
      margin-right: 10%;
  }

  div.ingredients p {
      text-align: center;
      border: 1px solid lightgray;
      font-size: 14px;
      padding: 8px 0;
      margin-top: 4px;
      margin-bottom: 0;
  }

  div.colonne2 {
      float: right;
  }

  table.preparation p.numero {
      background-color: #6c829d;
      color: white;
      width: 25px;
      height: 25px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      padding-top: 4px;
      /* permet de conserver la hauteur de la box (height: 25px), sans ajouter le padding (10px) (pas de 35px mais on reste à 25px).*/
      box-sizing: border-box;
      border-radius: 50%;
      margin: 0;
  }

  table.preparation td {
      vertical-align: top;
  }

  table.preparation td.preparation_etape {
      font-size: 14px;
      padding-left: 10px;
      padding-bottom: 10px;
  }

  table.preparation tr {
      height: 40px;
  }